extends layout

block content
    h1= title
    p Welcome!

    // Wrapper
    #wrapper
        // API METHODS
        h2 API Methods
        #apiMethods
            table
                thead
                    th Name
                    th Path
                    th Description
                    th Parameters
                tbody
        // /API METHODS
       
    // /WRAPPER